
<div class="p-4">
    <div class="container">
        <h1 style="text-align: center; height: 100px">Game Of Throne Fan App</h1>
    </div>
</div>

<div style="display:inline-block; width: 33.33vw; text-align:center; font-size: 30px; text-transform: uppercase">
  <p>Livres</p>
  <div style="border: 1px solid black; width: 25vw; display:inline-block; margin: auto">
  <app-books></app-books>
  </div>
</div>

<div style="display:inline-block; width: 33.33vw; text-align:center; font-size: 30px; text-transform: uppercase">
  <p>Personnages</p>
  <div style="border: 1px solid black; width: 25vw; display:inline-block; margin: auto; font-size: 20px">
    <app-characters></app-characters>
  </div>
</div>

<div style="display:inline-block; width: 33.33vw; text-align:center; font-size: 30px; text-transform: uppercase">
  <p>Maisons</p>
  <div style="border: 1px solid black; width: 25vw; display:inline-block; margin: auto; font-size: 20px">
    <app-houses></app-houses>
  </div>
</div>